/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
  font-family: 'Lato-Regular';
    font-size: 100%;
  	overflow-x: hidden;
	background: #f9f9f9;
}
@font-face {
   font-family: 'MavenPro-Regular';
   src: url(../fonts/MavenPro-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Lato-Regular';
   src: url(../fonts/Lato-Regular.ttf)format('truetype');
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #111;
}
a {
    background-color:none;
}
body p{
   font-family: 'Lato-Regular';
}
h1, h2, h3, h4, h5 {
      font-family: 'MavenPro-Regular';
}
/*Header Stats Start*/
.header_stats{
	text-align: center;
}
/*-- w3layouts --*/
/*-- agileits --*/
.header_stats h3{
	font-size: 12px;
	font-weight: 600;
}
.header_stats p{
	font-size: 12px;
}
.header_stats .stat-num{
	font-size: 26px;
	color: #111;
	font-weight: bold;
	padding: 8px 0;
}
.header_stats .stat-highlight{
	color: #ef4836;
	font-weight: bold;
}
.header_stats .stat-highlight-red{
	color: #ef4836;
	font-weight: bold;
}
.header_stats .stat-highlight-green{
	color: #26a65b;
	font-weight: bold;
}
.nofitications-dropdown li .dropdown-menu:before,.drp-mnu:before {
    position: absolute;
    top:-8.5px;
    left: 5px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #DFDFDF;
    border-left: 8px solid transparent;
    content: '';
}
/*---------------------------------
            LEFT SIDE
----------------------------------*/

.left-side {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
/*-- w3l --*/
/*-- agileits --*/
.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
	background: #111;
}

.sticky-left-side .custom-nav {
    margin-top:59px;
	background:#000;
}

.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}
.logo a {
    font-size: 0.9em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;
}
.logo a span{
	color:#111;
}
.logo-icon {
    display: none;
}
div#page-wrapper {
    padding:3em 2em;
}
.left-side-collapsed .logo-icon {
    height: 51px;
    margin-top: 0;
    display: block !important;
}
.logo-icon a{
	display:block;
    margin-left: 10px;
	text-decoration: none;
}
.logo-icon a {
    font-size: 2em;
    color:white;
    margin-top: 9px;
	   font-family: 'MavenPro-Regular';
	font-weight:700;
}
/*-- w3layouts --*/
/*-- agileits --*/
.logo-icon a:hover{
	color:#fff;
}
.left-side-inner {
    padding: 0px;
    margin-bottom: 50px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width:83%;
    margin: 0 0 15px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 40px;
    height:40px;
    display:block;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}
/*-- w3l --*/
/*-- agileits --*/
.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.custom-nav {
    margin-bottom: 10px;
}

.custom-nav > li > a {
    color:#C8C8C8;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    color:#EA57A3;
	background-color:#292929;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.custom-nav > li.menu-list > a:hover {
    background-color:#191919;
}

.custom-nav > li.nav-active > a {
    background-color:#111;
    color:#EA57A3;
}

.custom-nav > li.nav-active > ul{
    display: block;
}

.custom-nav > li.nav-active > a:hover {
    
}

.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #111;
    color:#EA57A3;
}

ul.dropdown-menu.drp-mnu li {
    width: 100%;
}



.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    width: 16px;
    text-align: center;
}

.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #111;
}

.custom-nav .sub-menu-list > li > a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color:#fff;
    background:#45B39D;
}
.profile_img i {
	float: right;
    margin: .5em 0 0;
    color:#00BCD4;
}
.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list > li.active > a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}

.custom-nav .menu-list.active ul {
    display: block;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 17px 15px;
}
.nav>li {
position: relative;
display: block;
}
.nav-stacked>li+li {
	margin-top: 1px;
	margin-left: 0;
}

@media (max-width:767px){
	.hidden-xs{display:none!important}
	.visible-xs {
		display: none !important;
	}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{display:none!important}
}
@media (min-width:1200px){
	.hidden-lg{display:none!important}
}
/*------------------------------------------
            LEFT SIDE COLLAPSE
-------------------------------------------*/

.left-side-collapsed .logo {
    display: none;
}

.left-side-collapsed .header-section {
    margin-left: 0px;
}

.left-side-collapsed .left-side {
    width: 52px;
    top: 0px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
    margin-bottom:8px;
}

.left-side-collapsed .custom-nav {
        margin: 26px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 10px;
    position: relative;
	
}

.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}

.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background:#EA57A3;
    padding: 11.7px;
    left: 52px;
    top: 1px;
    min-width: 160px;
    text-align: left;
    z-index: 100;
    display: none;
	font-size:14px;
}

.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color:#EA57A3;
    border-width: 6px;
    margin-top: -6px;
}
/*-- w3layouts --*/
/*-- agileits --*/
.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background:#111;
    color:#EA57A3;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background:#EA57A3;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 44px;
    left: 52px;
    margin: 0;
    min-width: 160px;
    background:#45B39D;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
      background: #28947E;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
	font-size: 1.2em;
}
ul.nav li a span {
    padding-left: .5em;
}



.left-side-collapsed .left-side{
    overflow: visible !important;
}

/*----------------------------
        HEADER SECTION
-----------------------------*/

.header-section {
    background:#45B39D;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -webkit-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -moz-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -o-box-shadow: 1px 0 3px rgba(0,0,0,.15);
	padding-bottom:2px;
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    font-size: 17px;
    padding: 9px 0 0;
    width: 40px;
    height: 42px;
    margin: 0.75em 0 0 2em;
    text-align: center;
    cursor: pointer;
    float: left;
    color: #fff;
    background: #111;
    border: none;
    border-radius: 5px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
    background:#EA57A3;
    color: #fff;
}

.searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    margin:8px 0 0 10px;
    padding:7px 10px;
    width: 220px;
    outline:none;
    border:1px solid #eee;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
}
.searchform input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}
.logo-co{
	float:left;
	padding:7px 15px 6px;
}
.logo-co a {
	display:block;
}
/* ------------------------------
        STICKY HEADER
---------------------------------*/
.sticky-header .logo {
  position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    background: #EA57A3;
    border-bottom: 1px solid #5F45BB;
    text-align: center;
        padding: 1.1em 0 1.2em;
        overflow-x: auto;
}
.logo h1 {
    margin-bottom: 0;
	line-height: 25px;
}
.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    z-index: 100;
    overflow-x: auto;
}

.sticky-header .main-content {
    padding-top: 50px;
}
.sticky-header .menu-right {
    margin-right: 0;
}
.sticky-header.left-side-collapsed .header-section {
    left: 0;
}
.sticky-header.left-side-collapsed .menu-right {
    margin-right: 0;
}
.menu-right {
}
