
    .bg {
    background-image: url("https://ichef.bbci.co.uk/images/ic/960x540/p01bqlx8.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    font-family: 'American Typewriter, serif';
}
.artisthometext {
    color: red;
    font-weight: 900;
}
.newbutton1 {
  text-align: center;
  align-content: center;
  border-radius: 40rem;
  background-color: rgb(77, 228, 122);
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 1%;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  border-color: #01060a;
  }
  
  .newbutton1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: black;
  }
  
  .newbutton1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10%;
    transition: 0.5s;
    color: black;
  }
  
  .newbutton1:hover span {
    padding-right: 15%;
    color: black;
  }
  
  .newbutton1:hover span:after {
    opacity: 1;
    right: 0;
    color: black;
  }
  .btn-grp{
    margin-top: 30%;
    margin-left: 50%;
  }