.jukebox {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
}
.likes {
    margin-bottom: 10%;
    margin-left: 3%;
}
.playlists {
    margin-bottom: 10%;
    margin-left: 3%;
}
.albums {
    margin-bottom: 10%;
    margin-left: 3%;
}
.following {
    margin-bottom: 10%;
    margin-left: 3%;
}
.breadcrumbs{
    margin-top: 5%;
    margin-left: 3%;
}