
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
  background-image: url("https://mdbootstrap.com/img/Photos/Others/img (30).jpg");
  background-size: 100% 100%;
  opacity: 0.75;
  filter: alpha(opacity=50); 
}




.frame{
  width:50%;
  height:600px;;
} */